<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Blog Details | TAEM</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" >
	<link href="css/font-awesome.min.css" rel="stylesheet" >
	<link href="css/global.css" rel="stylesheet">
	<link href="css/blog.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	<script src="js/bootstrap.bundle.min.js"></script>

</head>
<body>
<section id="top" class="bg_back pt-3 pb-3">
<div class="container-xl">
 <div class="row top_1">
  <div class="col-md-6">
   <div class="top_1l">
    <p class="text-white mb-0 font_14"> Opening hours: <span class="col_yell ms-1">8 AM to 7 PM  all days</span></p>
   </div>
  </div>
  <div class="col-md-6">
   <div class="top_1r text-end">
    <ul class="mb-0 font_14">
		<li class="text-white d-inline-block me-2">Also see in: </li>
		<li class="d-inline-block"><a class="col_yell" href="#"><i class="fa fa-facebook"></i></a> </li>
		<li class="d-inline-block"><a class="col_yell" href="#"><i class="fa fa-twitter"></i></a> </li>
		<li class="d-inline-block"><a class="col_yell" href="#"><i class="fa fa-linkedin"></i></a> </li>
		<li class="d-inline-block"><a class="col_yell" href="#"><i class="fa fa-tumblr"></i></a> </li>
		<li class="d-inline-block"><a class="col_yell" href="#"><i class="fa fa-vimeo"></i></a> </li>
		<li class="d-inline-block"><a class="col_yell" href="#"><i class="fa fa-pinterest"></i></a> </li>
	</ul>
   </div>
  </div>
 </div>
</div>
</section>

<section id="head_top" class="pt-3">
<div class="container-xl">
 <div class="row head_top1">
  <div class="col-md-3">
   <div class="head_top1l">
	<h4 class="mb-0"><a href="index.html"><img id="logo" src="img/logo.png"/></a></h4>
   </div>
  </div>
  <div class="col-md-9">
   <div class="head_top1r">
     <div class="head_top1rim row">
		<div class="col-md-4">
		 <div class="row head_top1ri">
		   <div class="col-md-3">
		  <div class="head_top1ril">
		   <span class="d-inline-block bg_yell text-white text-center  fs-3"><i class="fa fa-map-marker"></i></span>
		  </div>
		 </div>
		   <div class="col-md-9">
		  <div class="head_top1rir">
		   <h6 class="mb-0 font_14 lh-base">Giza, Egypt<br>
			The Ancient Egyptians Museum
</h6>
		  </div>
		 </div>
		 </div>
		</div>
		<div class="col-md-4">
		 <div class="row head_top1ri">
		   <div class="col-md-3">
		  <div class="head_top1ril">
		   <span class="d-inline-block bg_yell text-white text-center  fs-3"><i class="fa fa-phone"></i></span>
		  </div>
		 </div>
		   <div class="col-md-9">
		  <div class="head_top1rir">
		   <h6 class="mb-0 font_14 lh-base"><a href="#">+(123) 456-7890</a><br>
<a href="#">+(987) 654-3130</a>
</h6>
		  </div>
		 </div>
		 </div>
		</div>
		<div class="col-md-4">
		 <div class="row head_top1ri">
		   <div class="col-md-3">
		  <div class="head_top1ril">
		   <span class="d-inline-block bg_yell text-white text-center  fs-3"><i class="fa fa-envelope"></i></span>
		  </div>
		 </div>
		   <div class="col-md-9">
		  <div class="head_top1rir">
		   <h6 class="mb-0 font_14 lh-base"><a href="#">info@gmail.com</a><br>
<a href="#">atoz@gmail.com</a>
</h6>
		  </div>
		 </div>
		 </div>
		</div>
     </div>
   </div>
  </div>
 </div>
</div>
</section>

<div class="main position-relative">
 <div class="main_1 position-absolute w-100">
   <section id="header">
<nav class="navbar navbar-expand-md navbar-light bg_yell p-0" id="navbar_sticky">
	<div class="container-xl">
		<a class="p-0 navbar-brand text-white fw-bold pt-1" href="index.html"><img id="logo2" src="img/logo2.png"/></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		   <ul class="navbar-nav mb-0 nav_right">
			<li class="nav-item ex">
			  <a class="nav-link active" aria-current="page"
			  href="index.html">Home</a>
			</li>
			 
			<li class="nav-item ex">
			  <a class="nav-link" href="gallery.html">Gallery</a>
			</li>
			
			<li class="nav-item ex dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Blog
			  </a>
			  <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
				<li><a class="dropdown-item" href="blog.html"> Blog</a></li>
				<li><a class="dropdown-item border-0" href="blog_detail.html"> Blog Detail</a></li>
			  </ul>
			</li>
	
			<li class="nav-item ex dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Events
			  </a>
			  <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
				<li><a class="dropdown-item" href="event.html"> Events</a></li>
				<li><a class="dropdown-item border-0" href="detail.html"> Events Detail</a></li>
			  </ul>
			</li>
			
			<li class="nav-item ex dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Pages
			  </a>
			  <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
				<li><a class="dropdown-item" href="about.html">About Us</a></li>
				<li><a class="dropdown-item border-0" href="contact.html">Contact Us</a></li>
			  </ul>
			</li>
	
			
			<li class="nav-item ex">
				<a class="nav-link" href="Map.html">Map</a>
			  </li>
	
			  <li class="nav-item ex">
				<a class="nav-link" href="member.html">Membership</a>
			  </li>
	
			  <li class="nav-item ex dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				  Support us
				</a>
				<ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
				  <li><a class="dropdown-item" href="volunteer.html">Volunteer</a></li>
				  <li><a class="dropdown-item border-0" href="donation.html">Donate</a></li>
				</ul>
			  </li>
	
	
			  <li class="nav-item ex">
				<a class="nav-link" href="visit.html">Visits</a>
			  </li>
	
	
			  <li class="nav-item ex">
				<a class="nav-link" href="learn.html">Learn</a>
			  </li>
			
			<li class="nav-item">
			  <a class="nav-link button  ms-4 text-uppercase" href="Auth.html">Registration</a>
			</li>
	
			
	
		  </ul>
		  
		</div>
</nav>
</section>
 </div>
  <div class="main_2">
    <section id="center" class="center_o pt-5 pb-5 bg-light">
     <div class="container-xl">
	  <div class="center_o1 row text-center">
	    <div class="col-md-12">
		 <h1 class="mt-4">Blog <span class="col_yell">Detail</span></h1>
		 <h6 class="mb-0 fw-bold mt-3"> <a href="#">HOME</a> <span class="mx-2 text-muted fw-normal">/</span> <span class="col_yell">BLOG DETAIL</span></h6>
		</div>
	  </div>
	 </div>
   </section>
  </div>
</div>

<section id="blog_pg" class="p_3">
<div class="container-xl">
 <div class="row blog_pg1">
   <div class="col-md-8">
    <div class="blog_pg1l">
	  <div class="blog_pg1l1">
	    <div class="blog_1i">
		  <div class="blog_1i1">
		    <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/hear.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		  </div>
		  <div class="blog_1i2">
		    <div class="blog_1i2i pt-3">
			   <h5 class="fs-2">Seeing History in Modern Way</span></h5>
			   <h6 class="mt-3">by <a href="#">Admin</a> /  <a href="#">Featured</a></h6>
			   <hr>
			   <ul class="font_14 mt-3">
	    <li class="d-inline-block"><a href="blog_detail.html"><i class="fa fa-heart-o me-1 col_yell"></i> 15 Likes</a></li> 
		<li class="d-inline-block text-muted mx-2">/</li>
		<li class="d-inline-block"><a href="blog_detail.html"><i class="fa fa-comment me-1 col_yell"></i> 3 Comments</a></li>
		<li class="d-inline-block text-muted mx-2">/</li>
		<li class="d-inline-block"><a href="blog_detail.html"><i class="fa fa-comment me-1 col_yell"></i> 21 Oct</a></li>
	   </ul>
	   <p class="mt-3">
		In the hallowed halls where Egypt’s past resides,
		
		The curator and their team, with passion as their guide,
		
		Will weave a tale of pharaohs, of gods and sacred streams,
		
		To make each guest’s adventure surpass their wildest dreams.
		
		Why do we flock to this place, where sands of time abide?
		
		These relics call us backward, to feel the ancients’ pride.</p>
			</div>
			 
		  </div>
		 </div>
	  </div>
	  <div class="blog_d1">
	   <p class="bg-light fw-bold p-4 fst-italic">
		In the hallowed halls where Egypt’s past resides,
		
		The curator and their team, with passion as their guide,
		
		Will weave a tale of pharaohs, of gods and sacred streams,
		
		To make each guest’s adventure surpass their wildest dreams.
		
		Why do we flock to this place, where sands of time abide?
		
		These relics call us backward, to feel the ancients’ pride..</p>
	   <div class="blog_d1i row">
	     <div class="col-md-6">
		  <div class="blog_d1il blog_pg1r1 ">
		    <ul class="mb-0 tags">
		 <li class="d-inline-block"><a href="blog_detail.html">History</a></li>
		 <li class="d-inline-block"><a href="blog_detail.html">About Us</a></li>
		 <li class="d-inline-block"><a href="blog_detail.html">News</a></li>
		</ul>
		  </div>
		 </div>
		 <div class="col-md-6">
		  <div class="blog_d1ir text-end">
		   <h6 class="mb-0 font_14 mt-1"><a href="#"><i class="fa fa-share-alt col_yell me-1"></i> Share</a></h6>
		  </div>
		 </div>
	   </div>
	  </div>
	   <div class="blog_d2 mt-4">
	    <hr>
		<h5 class="center_sm">COMMENTS (3)</h5>
		<hr>
		<div class="blog_d2i row">
		 <div class="col-md-2 col-sm-2">
		  <div class="blog_d2il">
		   <img src="img/15.jpg" class="w-100 rounded-circle" alt="abc">
		  </div>
		 </div>
		 <div class="col-md-10 col-sm-10">
		  <div class="blog_d2ir">
		   <h5>Eget Nulla <span class="pull-right"><a class="button font_14 fw-normal" href="#">Reply</a></span></h5>
		   <h6 class="fw-normal mt-3 font_14"><a class="text-muted " href="#"><i class="fa fa-calendar col_yell me-1"></i> 03 Feb, 2022</a> <a class="text-muted" href="#"><i class="fa fa-user col_yell me-1 ms-3"></i> Admin</a> <a class="text-muted " href="#"><i class="fa fa-comments col_yell me-1 ms-3"></i> 3 Comments</a></h6>
		   <p class="mb-0 font_14 mt-3">The obelisks and ankhs, the gods with watchful eyes,

			They whisper through the ages, beneath these timeless skies.
			
			We gather here in reverence, where history’s roots entwine,
			
			To drink from wells of wisdom, sipped like the finest wine</p>
		  </div>
		 </div>
		</div><hr>
		<div class="blog_d2i row">
		 <div class="col-md-2 col-sm-2">
		  <div class="blog_d2il">
		   <img src="img/16.jpg" class="w-100 rounded-circle" alt="abc">
		  </div>
		 </div>
		 <div class="col-md-10 col-sm-10">
		  <div class="blog_d2ir">
		   <h5>Quis Sem <span class="pull-right"><a class="button font_14 fw-normal" href="#">Reply</a></span></h5>
		   <h6 class="fw-normal mt-3 font_14"><a class="text-muted " href="#"><i class="fa fa-calendar col_yell me-1"></i> 03 Feb, 2022</a> <a class="text-muted" href="#"><i class="fa fa-user col_yell me-1 ms-3"></i> Admin</a> <a class="text-muted " href="#"><i class="fa fa-comments col_yell me-1 ms-3"></i> 3 Comments</a></h6>
		   <p class="mb-0 font_14 mt-3">The grandest gift I’d offer, beneath this vaulted dome,

			Would be a token of my thanks, for making this my home.</p>
		  </div>
		 </div>
		</div><hr>
		<div class="blog_d2i row">
		 <div class="col-md-2 col-sm-2">
		  <div class="blog_d2il">
		   <img src="img/17.jpg" class="w-100 rounded-circle" alt="abc">
		  </div>
		 </div>
		 <div class="col-md-10 col-sm-10">
		  <div class="blog_d2ir">
		   <h5>Lorem Amet <span class="pull-right"><a class="button font_14 fw-normal" href="#">Reply</a></span></h5>
		   <h6 class="fw-normal mt-3 font_14"><a class="text-muted " href="#"><i class="fa fa-calendar col_yell me-1"></i> 03 Feb, 2022</a> <a class="text-muted" href="#"><i class="fa fa-user col_yell me-1 ms-3"></i> Admin</a> <a class="text-muted " href="#"><i class="fa fa-comments col_yell me-1 ms-3"></i> 3 Comments</a></h6>
		   <p class="mb-0 font_14 mt-3">Each statue, scroll, and sarcophagus, with stories to unfold,

			Binds us to the Nile’s embrace, to secrets carved in gold.</p>
		  </div>
		 </div>
		</div>
	   </div>
	   <div class="blog_d2 mt-4">
	    <hr>
		<h5 class="center_sm">LEAVE A COMMENT</h5>
		<hr>
		<div class="blog_1dt2i row mt-3">
		 <div class="col-md-12">
		  <div class="blog_1dt2il">
		    <textarea placeholder="Message" class="form-control form_text"></textarea>
		  </div>
		 </div> 
		</div>
		<div class="blog_1dt2i row mt-4">
		 <div class="col-md-6">
		  <div class="blog_1dt2il">
		    <input class="form-control" placeholder="Name" type="text">
		  </div>
		 </div> 
		 <div class="col-md-6">
		  <div class="blog_1dt2il">
		    <input class="form-control" placeholder="Email" type="text">
		  </div>
		 </div>
		</div>
		<div class="blog_1dt2i row mt-4">
		 <div class="col-md-6">
		  <div class="blog_1dt2il">
		    <input class="form-control" placeholder="Subject" type="text">
		  </div>
		 </div> 
		 <div class="col-md-6">
		  <div class="blog_1dt2il">
		    <input class="form-control" placeholder="Website" type="text">
		  </div>
		 </div>
		</div>
		<div class="blog_1dt2i row mt-4">
		 <div class="col-md-12">
		  <div class="blog_1dt2il">
			<h6 class="mb-0 center_sm"><a class="button" href="#">SUBMIT</a></h6>
		  </div>
		 </div> 
		</div>
		
	   </div>
	</div>
   </div>
   <div class="col-md-4">
    <div class="blog_pg1r">
	  <div class="blog_pg1r1 p-4 bg-light">
			  <h5>CATEGORIES</h5>
			  <hr class="line mb-4">
			  <h6><a href="blog_detail.html"><i class="fa fa-chevron-right me-1 font_12 col_yell"></i> Arts of Global Africa <span class="pull-right">(04) </span></a></h6><hr>
		<h6><a href="blog_detail.html"><i class="fa fa-chevron-right me-1 font_12 col_yell"></i> Decorative Arts <span class="pull-right">(03) </span></a></h6><hr>
		<h6><a href="blog_detail.html"><i class="fa fa-chevron-right me-1 font_12 col_yell"></i> War History <span class="pull-right">(05) </span></a></h6><hr>
		<h6><a href="blog_detail.html"><i class="fa fa-chevron-right me-1 font_12 col_yell"></i> Pharaohnic <span class="pull-right">(07) </span></a></h6><hr>
		<h6><a href="blog_detail.html"><i class="fa fa-chevron-right me-1 font_12 col_yell"></i>Old But Gold<span class="pull-right">(08) </span></a></h6><hr>
		<h6 class="mb-0"><a href="blog_detail.html"><i class="fa fa-chevron-right me-1 font_12 col_yell"></i>Heiloghriphic<span class="pull-right">(07) </span></a></h6>
			 </div>
	  <div class="blog_pg1r1 p-4 mt-4 bg-light">
			  <h5>SEARCH</h5>
			  <hr class="line mb-4">
			  <div class="input-group border_1">
				<input type="text" class="form-control border-0 rounded-0" placeholder="Search...">
				<span class="input-group-btn">
					<button class="btn btn-primary bg-white border-0 rounded-0 p-3" type="button">
						<i class="fa fa-search col_yell"></i> </button>
				</span>
		</div>
			 </div>
	  <div class="blog_pg1r1 p-4 mt-4 bg-light">
			  <h5>RECENT POST</h5>
			  <hr class="line mb-4">
			  <div class="row footer_1i1">
		     <div class="col-md-3 col-3 pe-0">
			  <div class="footer_1i1l">
			    <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/11.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-9 col-9">
			  <div class="footer_1i1r">
			   <p class="mb-1 lh-base"><a  href="blog_detail.html">Integer at diam gravida fringilla Nibh preti purus</a></p>
			   <ul class="font_12 mb-0">
	    <li class="d-inline-block"><a href="blog_detail.html"><i class="fa fa-heart-o me-1 col_yell"></i> 15 Likes</a></li> 
		<li class="d-inline-block text-muted mx-2">/</li>
		<li class="d-inline-block"><a href="blog_detail.html"><i class="fa fa-comment me-1 col_yell"></i> 3 Comments</a></li>
	   </ul>
			  </div>
			 </div>
	    </div><hr>
		      <div class="row footer_1i1">
		     <div class="col-md-3 col-3 pe-0">
			  <div class="footer_1i1l">
			    <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/12.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-9 col-9">
			  <div class="footer_1i1r">
			   <p class="mb-1 lh-base"><a  href="blog_detail.html">Integer at diam gravida fringilla Nibh preti purus</a></p>
			   <ul class="font_12 mb-0">
	    <li class="d-inline-block"><a href="blog_detail.html"><i class="fa fa-heart-o me-1 col_yell"></i> 12 Likes</a></li> 
		<li class="d-inline-block text-muted mx-2">/</li>
		<li class="d-inline-block"><a href="blog_detail.html"><i class="fa fa-comment me-1 col_yell"></i> 5 Comments</a></li>
	   </ul>
			  </div>
			 </div>
	    </div><hr>
		       <div class="row footer_1i1">
		     <div class="col-md-3 col-3 pe-0">
			  <div class="footer_1i1l">
			    <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/13.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-9 col-9">
			  <div class="footer_1i1r">
			   <p class="mb-1 lh-base"><a  href="blog_detail.html">Integer at diam gravida fringilla Nibh preti purus</a></p>
			   <ul class="font_12 mb-0">
	    <li class="d-inline-block"><a href="blog_detail.html"><i class="fa fa-heart-o me-1 col_yell"></i> 14 Likes</a></li> 
		<li class="d-inline-block text-muted mx-2">/</li>
		<li class="d-inline-block"><a href="blog_detail.html"><i class="fa fa-comment me-1 col_yell"></i> 2 Comments</a></li>
	   </ul>
			  </div>
			 </div>
	    </div>
			 </div>
	  <div class="blog_pg1r1 p-4 bg-light mt-4">
			  <h5 class="text-uppercase">Archives</h5>
			  <hr class="line mb-4">
			  <h6 class="fw-normal font_14"><i class="fa fa-calendar col_yell align-middle me-2"></i> <a href="blog_detail.html">June 24, 2021 <span class="pull-right">(09)</span></a></h6>
		<hr>
		<h6 class="mt-3 fw-normal font_14"><i class="fa fa-calendar col_yell align-middle me-2"></i> <a href="blog_detail.html">July 24, 2021 <span class="pull-right">(12)</span></a></h6>
		<hr>
		<h6 class="mt-3 fw-normal font_14"><i class="fa fa-calendar col_yell align-middle me-2"></i> <a href="blog_detail.html">May 24, 2021 <span class="pull-right">(19)</span></a></h6>
		<hr>
		<h6 class="mt-3 fw-normal font_14"><i class="fa fa-calendar col_yell align-middle me-2"></i> <a href="blog_detail.html">Oct 24, 2021 <span class="pull-right">(14)</span></a></h6>
		<hr>
		<h6 class="mt-3 fw-normal font_14"><i class="fa fa-calendar col_yell align-middle me-2"></i> <a href="blog_detail.html">Aug 24, 2021 <span class="pull-right">(04)</span></a></h6>
		<hr>
		<h6 class="mt-3 mb-0 fw-normal font_14"><i class="fa fa-calendar col_yell align-middle me-2"></i> <a href="blog_detail.html">Nov 24, 2021 <span class="pull-right">(05)</span></a></h6>
			 </div> 
	  <div class="blog_pg1r1 p-4 bg-light mt-4">
			  <h5>TAGS</h5>
			  <hr class="line mb-4">
		     <ul class="mb-0 tags">
		 <li class="d-inline-block"><a href="blog_detail.html">History</a></li>
		 <li class="d-inline-block"><a href="blog_detail.html">About Us</a></li>
		 <li class="d-inline-block"><a href="blog_detail.html">News</a></li>
		 <li class="d-inline-block"><a href="blog_detail.html">Home</a></li>
		 <li class="d-inline-block"><a href="blog_detail.html">Events</a></li>
		 <li class="d-inline-block"><a href="blog_detail.html">Intro</a></li>
		 <li class="d-inline-block"><a href="blog_detail.html">Egyptian</a></li>
		 <li class="d-inline-block"><a href="blog_detail.html">Arts</a></li>
		 <li class="d-inline-block"><a href="blog_detail.html">Posts</a></li>
		</ul>
			 </div>
	  <div class="blog_pg1r1 p-4 bg-light mt-4">
			  <h5>LATEST EVENTS</h5>
			  <hr class="line mb-4">
		     <div class="blog_pg1r1i row">
		  <div class="col-md-3 px-1 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/5.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-3 px-1 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/6.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-3 px-1 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/7.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-3 px-1 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/8.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		 </div>
		      <div class="blog_pg1r1i row mt-2">
		  <div class="col-md-3 px-1 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/9.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-3 px-1 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/10.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-3 px-1 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/11.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-3 px-1 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="blog_detail.html"><img src="img/12.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		 </div>
			 </div>
	</div>
   </div>
 </div>
</div>
</section>


<section id="footer" class="p_3 bg_back">
 <div class="container-xl">
   <div class="footer_1 row">
    <div class="col-md-4">
	 <div class="footer_1i">
		<h4 class="mb-0"><a href="index.html"><img id="logo" src="img/logo.png"/></a></h4>
	<p class="col_light mb-4">Each statue, scroll, and sarcophagus, with stories to unfold,

		Binds us to the Nile’s embrace, to secrets carved in gold.</p>
	  <h6 class="col_light"><i class="fa fa-map-marker col_yell me-2 fs-4 align-middle"></i>Giza, Egypt</h6>
</h6></h6>
		 <h6 class="mt-3 col_light"><i class="fa fa-microphone col_yell me-2 fs-4 align-middle"></i> +(123) 456-7890</h6>
		 <h6 class="mt-3 col_light mb-0"><i class="fa fa-headphones col_yell me-2 fs-4 align-middle"></i> info@gmail.com</h6>
	 </div>
	</div>
	<div class="col-md-4">
	 <div class="footer_1i">
	    <h5 class="mb-4 col_yell">LATEST EVENTS</h5>
	    <div class="blog_pg1r1i row">
		  <div class="col-md-3 px-2 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/5.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-3 px-2 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/6.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-3 px-2 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/7.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-3 px-2 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/8.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		 </div>
		<div class="blog_pg1r1i row mt-2">
		  <div class="col-md-3 px-2 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/9.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-3 px-2 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/10.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-3 px-2 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/11.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-3 px-2 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/12.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		 </div>
	 </div>
	 </div>
	 <div class="col-md-4">
	 <div class="footer_1i">
	    <h5 class="mb-4 col_yell">RECENT BLOGS</h5>
		<div class="row footer_1i1">
		     <div class="col-md-3 col-3 pe-0">
			  <div class="footer_1i1l">
			    <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/19.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-9 col-9">
			  <div class="footer_1i1r">
			   <p class="mb-1"><a class="col_light" href="#">Integer at diam gravida fringilla Nibh preti purus</a></p>
			   <h6 class="mb-0 col_light font_14"><i class="fa fa-clock-o col_yell me-1"></i> 27 June 2019 - 26 July 2019</h6>
			  </div>
			 </div>
	    </div><hr>
		<div class="row footer_1i1">
		     <div class="col-md-3 col-3 pe-0">
			  <div class="footer_1i1l">
			    <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/20.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-9 col-9">
			  <div class="footer_1i1r">
			   <p class="mb-1"><a class="col_light" href="#">Integer at diam gravida fringilla Nibh preti purus</a></p>
			   <h6 class="mb-0 col_light font_14"><i class="fa fa-clock-o col_yell me-1"></i> 27 July 2019 - 26 August 2019</h6>
			  </div>
			 </div>
	    </div>
	 </div>
	</div>
	 <div>
	 </div>
	</div>
   </div>
 </div>
</section>

<section id="footer_b" class="pt-3 pb-3 bg-dark">
   <div class="container-xl">
    <div class="row footer_b1 text-center">
	 <div class="col-md-12">
	   <p class="mb-0 col_light">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_yell fw-bold" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	 </div>
	</div>
   </div>
  </section>

<script>
window.onscroll = function() {myFunction()};
var navbar_sticky = document.getElementById("navbar_sticky");
var sticky = navbar_sticky.offsetTop;
var navbar_height = document.querySelector('.navbar').offsetHeight + 140;
function myFunction() {
  if (window.pageYOffset >= sticky + navbar_height) {
    navbar_sticky.classList.add("sticky")
	//document.body.style.paddingTop = navbar_height + 'px';
  } else {
    navbar_sticky.classList.remove("sticky");
	document.body.style.paddingTop = '0'
  }
}
</script>

</body>

</html>