<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contact Us | TAEM</title>
	<link href="css/bootstrap.min.css" rel="stylesheet" >
	<link href="css/font-awesome.min.css" rel="stylesheet" >
	<link href="css/global.css" rel="stylesheet">
	<link href="css/contact.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
	<script src="js/bootstrap.bundle.min.js"></script>

</head>
<body>
<section id="top" class="bg_back pt-3 pb-3">
<div class="container-xl">
 <div class="row top_1">
  <div class="col-md-6">
   <div class="top_1l">
    <p class="text-white mb-0 font_14"> Opening hours: <span class="col_yell ms-1">8 AM to 7 PM  all days</span></p>
   </div>
  </div>
  <div class="col-md-6">
   <div class="top_1r text-end">
    <ul class="mb-0 font_14">
		<li class="text-white d-inline-block me-2">Also see in: </li>
		<li class="d-inline-block"><a class="col_yell" href="#"><i class="fa fa-facebook"></i></a> </li>
		<li class="d-inline-block"><a class="col_yell" href="#"><i class="fa fa-twitter"></i></a> </li>
		<li class="d-inline-block"><a class="col_yell" href="#"><i class="fa fa-linkedin"></i></a> </li>
		<li class="d-inline-block"><a class="col_yell" href="#"><i class="fa fa-tumblr"></i></a> </li>
		<li class="d-inline-block"><a class="col_yell" href="#"><i class="fa fa-vimeo"></i></a> </li>
		<li class="d-inline-block"><a class="col_yell" href="#"><i class="fa fa-pinterest"></i></a> </li>
	</ul>
   </div>
  </div>
 </div>
</div>
</section>

<section id="head_top" class="pt-3">
<div class="container-xl">
 <div class="row head_top1">
  <div class="col-md-3">
   <div class="head_top1l">
	<h4 class="mb-0"><a href="index.html"><img id="logo" src="img/logo.png"/></a></h4>
   </div>
  </div>
  <div class="col-md-9">
   <div class="head_top1r">
     <div class="head_top1rim row">
		<div class="col-md-4">
		 <div class="row head_top1ri">
		   <div class="col-md-3">
		  <div class="head_top1ril">
		   <span class="d-inline-block bg_yell text-white text-center  fs-3"><i class="fa fa-map-marker"></i></span>
		  </div>
		 </div>
		   <div class="col-md-9">
		  <div class="head_top1rir">
		   <h6 class="mb-0 font_14 lh-base">Giza, Egypt<br>
			The Ancient Egyptians Museum
</h6>
		  </div>
		 </div>
		 </div>
		</div>
		<div class="col-md-4">
		 <div class="row head_top1ri">
		   <div class="col-md-3">
		  <div class="head_top1ril">
		   <span class="d-inline-block bg_yell text-white text-center  fs-3"><i class="fa fa-phone"></i></span>
		  </div>
		 </div>
		   <div class="col-md-9">
		  <div class="head_top1rir">
		   <h6 class="mb-0 font_14 lh-base"><a href="#">+(123) 456-7890</a><br>
<a href="#">+(987) 654-3130</a>
</h6>
		  </div>
		 </div>
		 </div>
		</div>
		<div class="col-md-4">
		 <div class="row head_top1ri">
		   <div class="col-md-3">
		  <div class="head_top1ril">
		   <span class="d-inline-block bg_yell text-white text-center  fs-3"><i class="fa fa-envelope"></i></span>
		  </div>
		 </div>
		   <div class="col-md-9">
		  <div class="head_top1rir">
		   <h6 class="mb-0 font_14 lh-base"><a href="#">info@gmail.com</a><br>
<a href="#">atoz@gmail.com</a>
</h6>
		  </div>
		 </div>
		 </div>
		</div>
     </div>
   </div>
  </div>
 </div>
</div>
</section>

<div class="main position-relative">
 <div class="main_1 position-absolute w-100">
   <section id="header">
<nav class="navbar navbar-expand-md navbar-light bg_yell p-0" id="navbar_sticky">
	<div class="container-xl">
		<a class="p-0 navbar-brand text-white fw-bold pt-1" href="index.html"><img id="logo2" src="img/logo2.png"/></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		   <ul class="navbar-nav mb-0 nav_right">
			<li class="nav-item ex">
			  <a class="nav-link active" aria-current="page"
			  href="index.html">Home</a>
			</li>
			 
			<li class="nav-item ex">
			  <a class="nav-link" href="gallery.html">Gallery</a>
			</li>
			
			<li class="nav-item ex dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Blog
			  </a>
			  <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
				<li><a class="dropdown-item" href="blog.html"> Blog</a></li>
				<li><a class="dropdown-item border-0" href="blog_detail.html"> Blog Detail</a></li>
			  </ul>
			</li>
	
			<li class="nav-item ex dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Events
			  </a>
			  <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
				<li><a class="dropdown-item" href="event.html"> Events</a></li>
				<li><a class="dropdown-item border-0" href="detail.html"> Events Detail</a></li>
			  </ul>
			</li>
			
			<li class="nav-item ex dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				Pages
			  </a>
			  <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
				<li><a class="dropdown-item" href="about.html">About Us</a></li>
				<li><a class="dropdown-item border-0" href="contact.html">Contact Us</a></li>
			  </ul>
			</li>
	
			
			<li class="nav-item ex">
				<a class="nav-link" href="Map.html">Map</a>
			  </li>
	
			  <li class="nav-item ex">
				<a class="nav-link" href="member.html">Membership</a>
			  </li>
	
			  <li class="nav-item ex dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				  Support us
				</a>
				<ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
				  <li><a class="dropdown-item" href="volunteer.html">Volunteer</a></li>
				  <li><a class="dropdown-item border-0" href="donation.html">Donate</a></li>
				</ul>
			  </li>
	
	
			  <li class="nav-item ex">
				<a class="nav-link" href="visit.html">Visits</a>
			  </li>
	
	
			  <li class="nav-item ex">
				<a class="nav-link" href="learn.html">Learn</a>
			  </li>
			
			<li class="nav-item">
			  <a class="nav-link button  ms-4 text-uppercase" href="Auth.html">Registration</a>
			</li>
	
			
	
		  </ul>
		  
		</div>
</nav>
</section>
 </div>
  <div class="main_2">
    <section id="center" class="center_o pt-5 pb-5 bg-light">
     <div class="container-xl">
	  <div class="center_o1 row text-center">
	    <div class="col-md-12">
		 <h1 class="mt-4">Contact <span class="col_yell">Us</span></h1>
		 <h6 class="mb-0 fw-bold mt-3"> <a href="#">HOME</a> <span class="mx-2 text-muted fw-normal">/</span> <span class="col_yell">CONTACT US</span></h6>
		</div>
	  </div>
	 </div>
   </section>
  </div>
</div>

<section id="contact" class="pb-5">
<div class="container-xl">
  <div class="contact_1 row">
   <div class="col-md-4">
    <div class="contact_1im text-center position-relative">
	  <div class="contact_1im1 border_1 p-5">
	    <h4 class="mt-4">Call us</h4>
		<h6 class="mb-0 mt-3 fw-bold lh-base"><a href="#">+123 4567 890</a> <br> <a href="#">+123 4567 890</a></h6>
	  </div>
	  <div class="contact_1im2 position-absolute  w-100">
	    <span class="d-inline-block text-white bg_yell fs-2 rounded-circle"><i class="fa fa-headphones"></i></span>
	  </div>
	</div>
   </div>
   <div class="col-md-4">
    <div class="contact_1im text-center position-relative">
	  <div class="contact_1im1 border_1 p-5">
	    <h4 class="mt-4">E-mail</h4>
		<h6 class="mb-0 mt-3 fw-bold lh-base"><a href="#">info@gmail.com</a> <br> <a href="#">info@gmail.com</a></h6>
	  </div>
	  <div class="contact_1im2 position-absolute  w-100">
	    <span class="d-inline-block text-white bg_yell fs-2 rounded-circle"><i class="fa fa-envelope"></i></span>
	  </div>
	</div>
   </div>
   <div class="col-md-4">
    <div class="contact_1im text-center position-relative">
	  <div class="contact_1im1 border_1 p-5">
	    <h4 class="mt-4">Address</h4>
		<h6 class="mb-0 mt-3 fw-bold lh-base">Giza, Egypt <br> Central Zone</h6>
	  </div>
	  <div class="contact_1im2 position-absolute  w-100">
	    <span class="d-inline-block text-white bg_yell fs-2 rounded-circle"><i class="fa fa-map-marker"></i></span>
	  </div>
	</div>
   </div>
  </div>
  <div class="contact_2 mt-5 row">
   <div class="col-md-6">
     <div class="contact_2l">
	  <div class="contact_2li row">
	   <div class="col-md-4">
	    <div class="contact_2lil">
		 <h6>Name</h6>
		 <input class="form-control bg-light" type="text">
		</div>
	   </div>
	   <div class="col-md-4">
	    <div class="contact_2lil">
		 <h6>Email</h6>
		 <input class="form-control bg-light" type="text">
		</div>
	   </div>
	   <div class="col-md-4">
	    <div class="contact_2lil">
		 <h6>Subject</h6>
		 <input class="form-control bg-light" type="text">
		</div>
	   </div>
	  </div>
	  <div class="contact_2li row mt-4">
	   <div class="col-md-12">
	    <div class="contact_2lil">
		 <h6>Messsage</h6>
		 <textarea class="form-control bg-light form_text"></textarea>
		 <h6 class="mb-0 mt-4"><a class="button text-uppercase text-center d-block" href="#">Send Your Message</a></h6>
		</div>
	   </div>
	  </div>
	 </div>
   </div>
   <div class="col-md-6">
     <div class="contact_2r">
	    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114964.53925916665!2d-80.29949920266738!3d25.782390733064336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0a20ec8c111%3A0xff96f271ddad4f65!2sMiami%2C+FL%2C+USA!5e0!3m2!1sen!2sin!4v1530774403788" height="380" style="border:0; width:100%;" allowfullscreen=""></iframe>
	 </div>
   </div>
  </div>
</div>
</section>


<section id="footer" class="p_3 bg_back">
 <div class="container-xl">
   <div class="footer_1 row">
    <div class="col-md-4">
	 <div class="footer_1i">
		<h4 class="mb-4"><a class="text-white" href="index.html"><img src="img/logo.png"/></a></h4>
	<p class="col_light mb-4">Step into history and let the ancient wonders speak to you!</p>
	  <h6 class="col_light"><i class="fa fa-map-marker col_yell me-2 fs-4 align-middle"></i>Giza, Egypt</h6>
		 <h6 class="mt-3 col_light"><i class="fa fa-microphone col_yell me-2 fs-4 align-middle"></i> +(123) 456-7890</h6>
		 <h6 class="mt-3 col_light mb-0"><i class="fa fa-headphones col_yell me-2 fs-4 align-middle"></i> info@gmail.com</h6>
	 </div>
	</div>
	<div class="col-md-4">
	 <div class="footer_1i">
	    <h5 class="mb-4 col_yell">LATEST EVENTS</h5>
	    <div class="blog_pg1r1i row">
		  <div class="col-md-3 px-2 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/5.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-3 px-2 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/6.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-3 px-2 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/7.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-3 px-2 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/8.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		 </div>
		<div class="blog_pg1r1i row mt-2">
		  <div class="col-md-3 px-2 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/9.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-3 px-2 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/10.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-3 px-2 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/11.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		  <div class="col-md-3 px-2 col-3">
		   <div class="blog_pg1r1il">
		     <div class="grid clearfix">
				  <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/12.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
		   </div>
		  </div>
		 </div>
	 </div>
	 </div>
	 <div class="col-md-4">
	 <div class="footer_1i">
	    <h5 class="mb-4 col_yell">RECENT BLOGS</h5>
		<div class="row footer_1i1">
		     <div class="col-md-3 col-3 pe-0">
			  <div class="footer_1i1l">
			    <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/19.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-9 col-9">
			  <div class="footer_1i1r">
			   <p class="mb-1"><a class="col_light" href="#">Integer at diam gravida fringilla Nibh preti purus</a></p>
			   <h6 class="mb-0 col_light font_14"><i class="fa fa-clock-o col_yell me-1"></i> 27 June 2025 - 26 July 2025</h6>
			  </div>
			 </div>
	    </div><hr>
		<div class="row footer_1i1">
		     <div class="col-md-3 col-3 pe-0">
			  <div class="footer_1i1l">
			    <figure class="effect-jazz mb-0">
					<a href="#"><img src="img/20.jpg" class="w-100" alt="abc"></a>
				  </figure>
			  </div>
			 </div>
			 <div class="col-md-9 col-9">
			  <div class="footer_1i1r">
			   <p class="mb-1"><a class="col_light" href="#">Integer at diam gravida fringilla Nibh preti purus</a></p>
			   <h6 class="mb-0 col_light font_14"><i class="fa fa-clock-o col_yell me-1"></i> 27 July 2025 - 26 August 2025</h6>
			  </div>
			 </div>
	    </div>
	 </div>
	</div>
	 <div>
	 </div>
	</div>
   </div>
 </div>
</section>

<section id="footer_b" class="pt-3 pb-3 bg-dark">
   <div class="container-xl">
    <div class="row footer_b1 text-center">
	 <div class="col-md-12">
	   <p class="mb-0 col_light">© 2013 Your Website Name. All Rights Reserved | Design by <a class="col_yell fw-bold" href="http://www.templateonweb.com">TemplateOnWeb</a></p>
	 </div>
	</div>
   </div>
  </section>

<script>
window.onscroll = function() {myFunction()};
var navbar_sticky = document.getElementById("navbar_sticky");
var sticky = navbar_sticky.offsetTop;
var navbar_height = document.querySelector('.navbar').offsetHeight + 140;
function myFunction() {
  if (window.pageYOffset >= sticky + navbar_height) {
    navbar_sticky.classList.add("sticky")
	//document.body.style.paddingTop = navbar_height + 'px';
  } else {
    navbar_sticky.classList.remove("sticky");
	document.body.style.paddingTop = '0'
  }
}
</script>

</body>

</html>